/*==========================
 Common CSS
 =========================== */
body {
    color: #666666;
    font-family: Georgia;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 96%;
}

img {
    max-width: 100%;
    height: auto;
}

/*==========================
 Top header CSS
 =========================== */
.header_area {
    width: 100%;
    clear: both;
}

#top_header_area {
    background-color: #ba2e1f;
    padding: 15px 0;
    width: 100%;
}